header {
    text-align: center;
    padding: 20px 0;
    background-color: #2c3e50;
    color: white;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}
header {
    text-align: center;
    padding: 20px 0;
    background-color: #2c3e50;
    color: white;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}











/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
} */

#registration {
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#registration h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 1.8em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1em;
}

input::placeholder {
    color: #bdc3c7;
}

button {
    padding: 12px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3498db;
}

#success-message {
    color: green;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    #registration {
        padding: 15px;
    }

    input, select {
        font-size: 0.9em;
    }

    button {
        font-size: 1em;
    }
}




