.testmonies-card{
    /* border: 1px solid blueviolet; */
    width: 50rem;
    box-shadow: 0 0 4px blue;
    margin: 2rem auto;
    padding: 1rem;
}
.testmonies-card-alumni-details img{
    --size: 6rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}
.testmonies-card-alumni-details{
    align-items: center;
    display: flex;
    gap: 1rem;
}
.testmonies-card-alumni-name{
    text-transform: capitalize;
    letter-spacing: 1.4px;
}
.tesmonies-title{
    text-transform: capitalize;
    margin: 2rem,0;
}
.testmonies-text{
font-size: 1.4rem;
line-height: 1.5;
text-align: justify;
}